.UserPanel {
    height: 80px;
    background: var(--third-light-2-color);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
}

.UserImage {
    height: 50px;
    width: 50px;
    background: var(--third-light-1-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.7rem;
}

.PanelBody {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.PanelBody > h3, .PanelBody > h6 {
    margin: 0;
}

.PanelBody button {
    font-size: 0.6rem;
    border-radius: 5rem;
    align-self: flex-end;
    background: var(--third-dark-1-color);
    margin-top: auto;
    padding: 0.75em 2.75em;
}