.GroupPage {
    position: relative;
}

.GroupPage > h2 {
    margin-bottom: 1.5em;
}

.SectionHeading {
    margin-bottom: 1em;
}

.JoinSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.JoinSection > h4, .JoinSection > h6 {
    margin: 0;
}

.JoinSection > h6 {
    color: var(--brighter-font-color);
}

.InviteLinkHolder {
    height: 30px;
    background: #aabda5;
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin-top: 1.5rem;
    border-radius: 5rem;
}

.InviteLinkHolder > h6 {
    margin: 0;
    font-size: 0.6em;
}

.InviteLinkHolder button {
    border-radius: 50%;
    padding: 0.5rem;
    flex-shrink: 0;
    width: 40px;
    margin-left: 0.75rem;
    height: 40px;
}

.RegenerateCodePrompt {
    margin: 0.8rem!important;
}

.RegenerateCodePrompt > a {
    cursor: pointer;
}

.RegenerateCodePrompt > a:hover {
    text-decoration: underline;
}

.ErrorMessageBox {
    background: var(--third-light-1-color);
    border: solid 1px var(--third-dark-2-color);
    padding: 0.5em 2em;
    font-size: 0.8em;
    text-align: center;
    border-radius: 1em;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}