.GroupPage > h3 {
    margin-bottom: 1em;
}

.GroupPage > h2 {
    margin-bottom: 1.5em;
}

.UserPanel {
    height: 80px;
    background: var(--third-light-2-color);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
}

.UserImage {
    height: 50px;
    width: 50px;
    background: var(--third-light-1-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.7rem;
}

.PanelBody {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.PanelBody > h3, .PanelBody > h6 {
    margin: 0;
}

.PanelBody :global(.Button) {
    font-size: 0.6rem;
    border-radius: 5rem;
    align-self: flex-end;
    background: var(--third-dark-1-color);
    margin-top: auto;
    padding: 0.75em 2.75em;
}

.JoinSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.JoinSection > h4, .JoinSection > h6 {
    margin: 0;
}

.JoinSection > h6 {
    color: var(--brighter-font-color);
}

.InviteLinkHolder {
    height: 30px;
    background: #aabda5;
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin-top: 1.5rem;
    border-radius: 5rem;
}

.InviteLinkHolder > h6 {
    margin: 0;
    font-size: 0.6em;
}

.InviteLinkHolder button {
    border-radius: 50%;
    padding: 0.5rem;
    flex-shrink: 0;
    width: 40px;
    margin-left: 0.75rem;
    height: 40px;
}

.RegenerateCodePrompt {
    margin: 0.8rem!important;
}

.UpdateNameForm {
    padding: 0 0.5em;
    display: flex;
    margin: 0 0 2em;
    align-items: center;
}

.UpdateNameForm > input {
    margin: 0;
    background: #aabda5;
    box-shadow: none;
}

.UpdateNameForm > button {
    margin-left: 1.5em;
    font-size: 0.8em;
    padding: 0.6em 1.5em;
}

.ErrorMessageBox {
    background: var(--third-light-1-color);
    border: solid 1px var(--third-dark-2-color);
    padding: 0.5em 2em;
    font-size: 0.8em;
    text-align: center;
    border-radius: 1em;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}