.Wrapper {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
}

.Wrapper button {
	padding: 0.75em 3.5em;
    align-self: center;
}

.Wrapper h5 {
	margin-top: 1.75em;
    font-weight: 600;
}

.ErrorBox {
    background: #ffd5d5;
    padding: 0.75em;
    border: solid 1px #ff4242;
    font-size: 0.9em;
    border-radius: 0.5em;
}